<div>
  <h2>User info</h2>
  <%= form_with model: @user, local:true do |f| %>
    <div>
      <%= f.label "Name" %><br>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label "Image" %><br>
      <%= f.attachment_field :profile_image, placeholder: "profile image" %>
    </div>
    <div>
      <%= f.label "Introduction" %><br>
      <%= f.text_area :introduction %>
    </div>
    <%= f.submit "Update User" %>
  <% end %>
</div>