<div>
  <h2>User info</h2>
  <table class="table">
    <tbody>
      <tr>
        <% if user.profile_image_id.present? %>
          <%= attachment_image_tag user, :profile_image %>
        <% else %>
          <%= image_tag "no_image.png", size: "100x100" %>
        <% end %>
      </tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div>
    <%= link_to "Edit", edit_user_path(current_user.id) %>
  </div>
</div>